h1 {
    background-color: darkgrey;
    width: 96%;
    height: 70px;
    color: blueviolet;
    padding-left: 20px;
} 

body {
    background-color: darkgrey;
    width: 96%;
    height: 96px;
    border-radius: 10px;
    border:10px groove #5c1166;
    
}
a {
    background-color: darkgrey;
    width: 100%;
    height: 100px;
    color: darkmagenta ;
    margin: 50px;
    border: darkslateblue;
}
h3 {
    
    color: rgb(8, 2, 19);
    font-style: inherit;
    margin: 50px;
}
.foto {
    height:"180px";
    width: "120px"; 
    border-radius: "80px";
    border: 5px solid #5c1166;
    margin-top: "5px";
    
}
#hr {
    lighting-color: darkmagenta;  line-height: "5px"
}